<nav class="navbar" style="background-color: #6e2772;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="color: antiquewhite;">Strawberry To Do</span>
  </div>
</nav>


